@using ElProApp.Web.Models.JobDone
@model ICollection<JobDoneViewModel>

@{
    ViewData["Title"] = "Списък със свършени работи";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък със свършена работа</h1>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Име</th>
            <th>Работа</th>
            <th>Дни за изпълнение</th>
            <th>Количество</th>
            <th>Екип</th>
            <th>Сграда</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var jobDone in Model)
            {
                <tr>
                    <td>@jobDone.Name</td>
                    <td>@jobDone.Job.Name</td>
                    <td>@jobDone.DaysForJob</td>
                    <td>@jobDone.quantity</td>
                    <td>@jobDone.Team.Name</td>
                    <td>@jobDone.Building.Name</td>
                    <td>
                        <a asp-area="" asp-controller="JobDone" asp-action="Details" asp-route-id="@jobDone.Id" class="btn btn-info btn-sm">Информация</a>
                        <a asp-area="" asp-controller="JobDone" asp-action="Edit" asp-route-id="@jobDone.Id" class="btn btn-warning btn-sm">Редактиране</a>
                        <a asp-area="" asp-controller="JobDone" asp-action="Add" class="btn btn-success btn-sm">Добави</a>
                        <form asp-area="" asp-controller="JobDone" asp-action="SoftDelete" asp-route-id="@jobDone.Id" asp-route-teamId ="@jobDone.TeamId" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Изтрий</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a asp-area="" asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
    </div>    
</div>