@using ElProApp.Web.Models.JobDone
@model ICollection<JobDoneViewModel>
@{
    ViewData["Title"] = "Всички изпълнени задачи";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък с изпълнени задачи</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Работа</th>
                <th>Екип</th>
                <th>Сграда</th>
                <th>Количество</th>
                <th>Сграда</th>
                <th>Дни за изпълнение</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var jobDone in Model)
            {
                <tr>
                    <td>@jobDone.Job.Name</td>
                    <td>@jobDone.Team.Name</td>
                    <td>@jobDone.Building.Name</td>
                    <td>@jobDone.quantity</td>
                    <td>@jobDone.Building.Name</td>
                    <td>@jobDone.DaysForJob</td>                    
                </tr>
            }
        </tbody>
    </table>
    <a asp-area="" asp-controller="JobDone" asp-action="Add" class="btn btn-success btn-sm">Добави</a>
</div>