@using ElProApp.Web.Models.Employee
@using System.Security.Claims
@model ICollection<EmployeeViewModel>
@{
    ViewData["Title"] = "Списък със служители";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък със служители</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Заплата</th>
                <th>Парите за вземане</th>
                <th>Екип</th>
                <th>Детайли</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Wages.ToString("C2")</td>
                    <td>@employee.MoneyToTake.ToString("C2")</td>
                    <td>
                        <select class="form-select" disabled>
                            <option>Изберете отбор</option>
                            @if (employee.TeamsEmployeeBelongsTo != null)
                            {
                                @foreach (var teamMapping in employee.TeamsEmployeeBelongsTo)
                                {
                                    <option>@teamMapping.Team.Name</option>
                                }
                            }
                            else
                            {
                                <option>Няма екипи</option>
                            }
                        </select>
                    </td>

                    <td>
                        @{
                            
                            var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            if (employee.UserId == currentUserId)
                            {
                                <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">Детайли</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
