@using ElProApp.Web.Models.Employee
@model EmployeeEditInputModel
@{
    ViewData["Title"] = "Редактиране на информация за служител";
}

<div class="text-center">
    <h1 class="display-4">Редактиране на информация за служител</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>@Model.Name @Model.LastName</h3>
            <hr/>

            <form asp-action="Edit" method="post">
                <dl class="row">
                    <dt class="col-sm-3">Име:</dt>
                    <dd class="col-sm-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>

                    <dt class="col-sm-3">Фамилия:</dt>
                    <dd class="col-sm-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>

                    <dt class="col-sm-3">Дневно възнаграждение:</dt>
                    <dd class="col-sm-9">
                        @Html.EditorFor(model => model.Wages, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <dt class="col-sm-3">Заработка:</dt>
                            <dd class="col-sm-9">
                                @Html.EditorFor(model => model.MoneyToTake, new { htmlAttributes = new { @class = "form-control" } })
                            </dd>
                        }
                    }

                </dl>
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="hidden" asp-for="MoneyToTake" />
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-warning">Запази</button>
                    <a asp-action="All" asp-route-id="@Model.Id" class="btn btn-secondary">Списъка с служители</a>
                    <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
                </div>
            </form>
        </div>
    </div>
</div>
