@using ElProApp.Web.Models.Team
@model TeamInputModel

<h2>Добавяне на екип</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Buildings</label>
        <select asp-for="SelectedBuildingId" asp-items="@(new SelectList(Model.BuildingWithTeam, "Id", "Name"))" class="form-control">
            <option value="">Изберете сграда</option>
        </select>
        <span asp-validation-for="SelectedBuildingId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Работи за изпълнение</label>
        <div>
            @if (Model.AllJobs != null && Model.AllJobs.Any())
            {
                <ul class="list-group">
                    @foreach (var job in Model.AllJobs)
                    {
                        <li class="list-group-item">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label>@job.Name</label>
                                </div>
                                <div class="col-md-3">
                                    <label>Количество</label>
                                    <input type="number" name="JobQuantities[@job.Id]" class="form-control" placeholder="Количество" />
                                </div>
                                <div class="col-md-3">
                                    <label>Нужни дни</label>
                                    <input type="number" name="JobDaysRequired[@job.Id]" class="form-control" placeholder="Нужни дни" />
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Няма налични работи.</p>
            }
        </div>
    </div>

    <div class="form-group">
        <label>Employees</label>
        <div>
            @if (Model.AvailableEmployees != null && Model.AvailableEmployees.Any())
            {
                <ul>
                    @foreach (var employee in Model.AvailableEmployees)
                    {
                        <li>
                            <input type="checkbox" name="SelectedEmployeeIds" value="@employee.Id"
                            @(Model.SelectedEmployeeIds.Contains(employee.Id) ? "checked" : "") />
                            @employee.Name
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Няма налични служители.</p>
            }
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success btn-sm">Добави екип</button>
        <a asp-action="All" class="btn btn-secondary">Списъка с екипи</a>
        <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
