@using ElProApp.Web.Models.Team
@model TeamViewModel

@{
    ViewData["Title"] = "Информация за екипа";
}

<div class="container mt-4">
    <h1 class="display-4">Информация за @Model.Name</h1>

    <div class="mb-4">
        <h3>Информация за екипа</h3>
        <p><strong>Име на екипа:</strong> @Model.Name</p>
    </div>

    <div class="mb-4">
        <h4>Сгради, свързани с екипа</h4>
        <ul class="list-group">
            @if (Model.BuildingWithTeam != null && Model.BuildingWithTeam.Any())
            {
                foreach (var building in Model.BuildingWithTeam)
                {
                    <li class="list-group-item">
                        <strong>Име на сградата:</strong> @building.Building?.Name
                        <br />
                        <strong>Местоположение на сградата:</strong> @building.Building?.Location
                    </li>
                }
            }
            else
            {
                <li class="list-group-item">Няма свързани сгради с този екип.</li>
            }
        </ul>
    </div>

    <div class="mb-4">
        <h4>Извършени дейности от екипа</h4>
        <ul class="list-group">
            @if (Model.JobsDoneByTeam != null && Model.JobsDoneByTeam.Any())
            {
                foreach (var job in Model.JobsDoneByTeam)
                {
                    <li class="list-group-item">
                        <strong>Описание на дейността:</strong> @job.JobDone.Job?.Name
                    </li>
                }
            }
            else
            {
                <li class="list-group-item">Няма извършени дейности от този екип.</li>
            }
        </ul>
    </div>

    <div class="mb-4">
        <h4>Служители в екипа</h4>
        <ul class="list-group">
            @if (Model.EmployeesInTeam != null)
            {
                var counter = 1;
                foreach (var employee in Model.EmployeesInTeam)
                {
                    <li class="list-group-item">
                        <strong>Служител @counter:</strong> @employee.Employee?.Name @employee.Employee?.LastName
                    </li>
                    counter++;
                }
            }
            else
            {
                <li class="list-group-item">Няма служители в този екип.</li>
            }
        </ul>
        <div class="d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактиране</a>
            <a asp-action="All" class="btn btn-secondary">Списъка с екипи</a>
            <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
        </div>
    </div>
</div>
