@using ElProApp.Web.Models.Team
@model TeamEditInputModel

<div class="container mt-4">
    <h1 class="display-4 text-center">Редактиране на екип - @Model.Name</h1>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label">Име на екипа</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        @if (Model.BuildingWithTeam != null && Model.BuildingWithTeam.Any())
        {
            var selectItems = Model.BuildingWithTeam
            .Where(b => b != null && b.Id != Guid.Empty)
            .Select(b => new SelectListItem
                {
                    Value = b.Id.ToString(),
                    Text = b.Name
                }).ToList();

            <select asp-for="BuildingWithTeamIds" class="form-control" multiple="multiple">
                @foreach (var item in selectItems)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        }
        else
        {
            <p>Няма свързани обекти с екипа.</p>
        }

        @if (Model.JobsDoneByTeam != null && Model.JobsDoneByTeam.Any())
        {
            var selectItemsJobsDone = Model.JobsDoneByTeam
            .Where(j => j != null && j.Job != null && j.Job.Id != Guid.Empty)
            .Select(j => new SelectListItem
                {
                    Value = j.Job.Id.ToString(),
                    Text = j.Job.Name,
                    Selected = Model.JobsDoneByTeamIds.Contains(j.Job.Id)
                }).ToList();

            <div class="form-group">
                <label>Извършени дейности от екипа</label>
                @foreach (var item in selectItemsJobsDone)
                {
                    <div class="form-check">
                        <input type="checkbox" name="JobsDoneByTeamIds" value="@item.Value" class="form-check-input" @(item.Selected ? "checked" : "") />
                        <label class="form-check-label">@item.Text</label>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Няма извършени дейности от екипа.</p>
        }


        @if (Model.EmployeesInTeam != null && Model.EmployeesInTeam.Any())
        {
            var selectItemsEmployees = Model.EmployeesInTeam
            .Where(e => e != null && e != null && e.Id != Guid.Empty)
            .Select(e => new SelectListItem
                {
                    Value = e.Id.ToString(),
                    Text = e.FirstName + " " + e.LastName,
                    Selected = Model.EmployeesInTeamIds.Contains(e.Id)
                }).ToList();

            <div class="form-group">
                <label>Служители в екипа</label>
                @foreach (var item in selectItemsEmployees)
                {
                    <div class="form-check">
                        <input type="checkbox" name="EmployeesInTeamIds" value="@item.Value" class="form-check-input" @(item.Selected ? "checked" : "") />
                        <label class="form-check-label">@item.Text</label>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Няма служители в екипа.</p>
        }



        <button type="submit" class="btn btn-primary">Запази промените</button>
    </form>

    <div class="mt-3">
        <a asp-action="All" class="btn btn-secondary">Обратно към списъка с екипи</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
