@using ElProApp.Data.Models
@using System.Security.Claims
@model List<object>

<h3>Резултати от търсенето</h3>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Име</th>
                <th>Допълнителна информация</th>
            </tr>
        </thead>
        <tbody>
            @{
                var distinctTypes = Model.Select(x => x.GetType()).Distinct().ToList();
                int emlpoyeeCounter = 0;
                int buildingCounter = 0;
                int teamCounter = 0;
                int jobDoneCounter = 0;
                int jobCounter = 0;
            }

            @foreach (var item in Model)
            {
                if (item is Employee employee)
                {
                    if (distinctTypes.Count > 1 && emlpoyeeCounter++ == 0)
                    {
                        <tr><td colspan="3" class="table-info text-center"><strong>Служители</strong></td></tr>
                    }
                    <tr>
                        <td>Служител</td>
                        <td>@employee.Name  @employee.LastName</td>
                        <td>
                            @{
                                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                if (employee.UserId == currentUserId)
                                {
                                    <a asp-area="" asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning btn-sm">Информация за служителя</a>
                                }
                            }
                        </td>
                    </tr>                }
                else if (item is Building building)
                {
                    if (distinctTypes.Count > 1 && buildingCounter++ == 0)
                    {
                        <tr><td colspan="3" class="table-info text-center"><strong>Сгради</strong></td></tr>
                    }
                    <tr>
                        <td>Сграда</td>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                    </tr>
                }
                else if (item is Team team)
                {
                    if (distinctTypes.Count > 1 && teamCounter++ == 0)
                    {
                        <tr><td colspan="3" class="table-info text-center"><strong>Екипи</strong></td></tr>
                    }
                    <tr>
                        <td>Екип</td>
                        <td>@team.Name</td>
                        <td>@team.CreatedDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
                else if (item is JobDone jobDone)
                {
                    if (distinctTypes.Count > 1 && jobDoneCounter++ == 0)
                    {
                        <tr><td colspan="3" class="table-info text-center"><strong>Свършена работа</strong></td></tr>
                    }
                    <tr>
                        <td>Свършена работа</td>
                        <td>@jobDone.Name</td>
                        <td>@jobDone.CreatedDate.ToString("dd/MM/yyyy") </td>
                    </tr>
                }
                else if (item is Job job)
                {
                    if (distinctTypes.Count > 1 && jobCounter++ == 0)
                    {
                        <tr><td colspan="3" class="table-info text-center"><strong>Работа</strong></td></tr>
                    }
                    <tr>
                        <td>Работа</td>
                        <td>@job.Name</td>
                        <td>@job.Price.ToString("C2", new System.Globalization.CultureInfo("bg-BG"))</td>
                    </tr>
                    
                }
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
            @if ((int)ViewData["CurrentPage"] > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Search"
                       asp-route-pageNumber="@( (int)ViewData["CurrentPage"] - 1 )"
                       asp-route-searchQuery="@ViewData["SearchQuery"]"
                       asp-route-searchIn="@ViewData["SearchIn"]">
                        Предишна
                    </a>
                </li>
            }

            @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
            {
                <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "active" : "")">
                    <a class="page-link" asp-action="Search"
                       asp-route-pageNumber="@i"
                       asp-route-searchQuery="@ViewData["SearchQuery"]"
                       asp-route-searchIn="@ViewData["SearchIn"]">
                        @i
                    </a>
                </li>
            }

            @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Search"
                       asp-route-pageNumber="@( (int)ViewData["CurrentPage"] + 1 )"
                       asp-route-searchQuery="@ViewData["SearchQuery"]"
                       asp-route-searchIn="@ViewData["SearchIn"]">
                        Следваща
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p>Няма намерени резултати.</p>
}