@using ElProApp.Data.Models
@using ElProApp.Web.Models.Search
@using System.Security.Claims
@model List<object>

<h3>Резултати от търсенето</h3>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Име</th>
                <th>Допълнителна информация</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item is Employee employee)
                {
                    <tr>
                        <td>Служител</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>
                            @{
                                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                if (employee.UserId == currentUserId)
                                {
                                    <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning btn-sm">Информация за служителя</a>
                                }
                            }
                        </td>
                    </tr>
                }
                else if (item is Building building)
                {
                    <tr>
                        <td>Сграда</td>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                    </tr>
                }
                else if (item is Team team)
                {
                    <tr>
                        <td>Екип</td>
                        <td>@team.Name</td>                        
                    </tr>
                }
                else if (item is JobDone jobDone)
                {
                    <tr>
                        <td>Свършена работа</td>
                        <td>@jobDone.Job.Name</td>
                        <td>--</td>
                    </tr>
                }
                else if (item is Job job)
                {
                    <tr>
                        <td>Работа</td>
                        <td>@job.Name</td>                        
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>Няма намерени резултати.</p>
}
