@model IEnumerable<ElProApp.Web.Models.Building.BuildingViewModel>
@{
    ViewData["Title"] = "Сгради";
}

<div class="page-container">

    <h2 class="section-title">Списък със сгради</h2>

    <!-- ACTIONS -->
    <div class="mb-3 d-flex justify-content-between">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Начало
        </a>

        @if (User.IsInRole("Admin") || User.IsInRole("OfficeManager") || User.IsInRole("Technician"))
        {
            <a asp-controller="Building" asp-action="Add" class="btn btn-success">
                Добави сграда
            </a>
        }
    </div>

    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Локация</th>
                    <th>Екипи</th>
                    <th style="width:180px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var building in Model)
                {
                    <tr>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                        <td>
                            @await Html.PartialAsync("Partials/_BuildingTeamsPartial", building.TeamsOnBuilding)
                        </td>

                        <td>
                            <a asp-action="Details" asp-route-id="@building.Id" class="btn btn-primary btn-info btn-sm">
                                Детайли
                            </a>

                            @if (User.IsInRole("Admin") || User.IsInRole("OfficeManager"))
                            {
                                <a asp-action="Edit" asp-route-id="@building.Id" class="btn btn-success btn-sm">
                                    Редактирай
                                </a>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-action="SoftDelete" asp-route-id="@building.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Сигурен ли си?')">
                                        Изтрий
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>